<div class="row" style="padding: 50px;">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <text-center>
          <h1>Hastalıktan Önce Aşılamanın Önemi</h1>

          <p><br />
            <span style="color:#000000;"><span style="font-size:16px;"><span style="font-family:verdana,geneva,sans-serif;">Kedi aşıları önemli hastalıklara karşı koruma sağlayan ve virüslere karşı en etkili koruma biçimidir. Yavru kedilerin hastalıklara karşı bağışıklıkları zayıf olduğu için mutlaka aşı yapılması gerekir. Kedi aşıları kedi vücudundaki antikor seviyesini düzenleyerek bağışıklık kazandırır. Aşılara başlanmadan önce muayene yapılmalı gerekirse dışkı muayenesi ve kan tahlili yapılmalıdır. FİP FİGHTHERS veteriner kliniğimize aşı öncesi telefon ederek bilgi alabilir, veb sitemizdeki takvimden aşı zamanlarını kontrol edebilirsiniz.</span></span></span>
          </p>
          <h3>Hazırsanız hemen başlayalım!</h3>
          <img src="public/img/asi-kedi-1.jpg" alt="" srcset="">
          <h2 style="padding: 5px; border-radius: 5px; background-color: rgb(244, 247, 76); background-image: linear-gradient(62deg, rgb(235, 245, 149) 0%, rgb(224, 195, 252) 100%);"><span style="font-size: 16px;"><span style="font-family: verdana, geneva, sans-serif; letter-spacing: 1px;"><span style="color: rgb(0, 0, 0);"><strong>Temel Aşılar Nelerdir? </strong></span></span></span></h2>

          <p>Kedi aşı takviminde temel ve mutlaka yapılması gereken 3 aşı bulunmaktadır. Karma, kuduz ve lösemi aşısı bu 3 temel aşılardır. Kedi aşılarına baktığımız zaman bunun yanında mantar aşısı da mevcuttur. Kedi aşı takviminde mutlaka olmazsa olmaz parazit uygulamalarıdır. Kedi aşılarına başlamadan yapılmalıdır.

            Anne sütünü alan kediler 45 güne kadar anne sütünden aldıkları bağışıklık hücreleri antikorlar ile korunur. 45 günlükten itibaren aşılar yapılmaya başlanabilir. Yani bir yavru kedi en az 45 gün anne sütünü almalıdır.

            Öncelikle şu bilinmelidir ki aşılara başlanmadan önce mutlaka parazit uygulamaları yapılmalıdır. Parazitler bağışıklık sisteminin zayıflamasına neden olurlar. Parazit uygulaması yapılmayan bir kediye aşılar yapıldığında hastalıklara yakalanma olasılığı artmaktadır.
          </p>
          <h2 style="padding: 5px; border-radius: 5px; background-color: rgb(244, 247, 76); background-image: linear-gradient(62deg, rgb(235, 245, 149) 0%, rgb(224, 195, 252) 100%);"><span style="font-size: 16px;"><span style="font-family: verdana, geneva, sans-serif; letter-spacing: 1px;"><span style="color: rgb(0, 0, 0);"><strong>Yavru ve Yetişkin Kedilerde Aşılama Takvimi </strong></span></span></span></h2>
          <span style="color:#000000;"><span style="font-size:16px;"><span style="font-family:verdana,geneva,sans-serif;"> Bir kedi sahiplendiğiniz zaman yaşamınız kadar öncelikleriniz de değişir. Sevimli dostunuzun tüm yaşam evrelerinde sağlıklı olması ve sağlığını koruması için birçok faktörü eş zamanlı olarak düşünmelisiniz. Kedilerin sağlığının korunmasında en önemli gereksinimlerinden biri de kedi aşı takvimine uyum sağlanmasıdır. Bu yazımızda yavru ve yetişkin kedilerde aşılama takvimi hakkında detaylı bilgi bulabilirsiniz. Keyifli okumalar dileriz.

                Kediler doğduklarında bağışıklık sistemleri onları hastalıklardan koruyacak kadar güçlü olmuyor. Ancak annelerinden emdikleri kolostrum adı verilen süt, antikor bakımından zengin olduğu için geçici olarak bağışıklık sistemleri güçlenir. Anne sütü aracılığı ile elde edilen bağışıklık güçlendirici etki, kediden kediye göre değişiklik gösterebilir. Genellikle anne sütü ile yavru kediler 8 - 18 haftalık bir süreç boyunca hastalıklara karşı koruma sağlayabilir. Fakat bu sürenin ardından temel hastalıklara karşı savunmasız kalabilecekleri için devreye kedi aşı takvimi girer.

                Kedi aşılarının temel amacı dostlarımızın hastalık etmenleri ile karşılaşmadan önce belirli hastalıklara karşı antikor üretmesi ve koruma altına alınmasıdır. Tedavisi olmayan ya da olsa dahi zorlu bir süreç gerektiren hastalıklara karşı gerçekleştirilen aşıların aksatılmaması; yavruluk dönemi kadar yetişkinlik dönemi aşılarının da ihmal edilmemesi gerekir.
              </span></span></span></p>
          <h2 style="padding: 5px; border-radius: 5px; background-color: rgb(244, 247, 76); background-image: linear-gradient(62deg, rgb(235, 245, 149) 0%, rgb(224, 195, 252) 100%);"><span style="font-size: 16px;"><span style="font-family: verdana, geneva, sans-serif; letter-spacing: 1px;"><span style="color: rgb(0, 0, 0);"><strong>Yavru Kedilerin Aşı Takvimi </strong></span></span></span></h2>
          <img src="public/img/yavru.aşı.png" style="height: 350px;">
          <p>Her kedi sağlıklı kalmak için aşılanmaya ihtiyaç duyar. Yavruluk döneminde bu gereksinim çok daha yoğun bir şekilde hissedilmektedir. Anne sütünün koruyuculuğunun bitmesi ile kedilerin bağışıklık sisteminin güçlendirilmesi için gerçekleştirilen aşılar temel aşılar ve temel olmayan aşılar olmak üzere iki ayrı kategoride ele alınabilir.

            Temel aşılar tüm yavru ve yetişkin kedilere uygulanması önerilen, en sık karşılaşılabilecek tehlikeli hastalıklara karşı koruma sağlayan aşılardır. Kedi aşılama takvimi içerisinde yer alan temel aşılar karma aşı, kuduz aşısı ve lösemi aşısı olarak sıralanabilir.

            Kediler için temel olmayan aşıların her kediye uygulanması gerekmez. Bağışıklık sistemi virüs aşıları, karın zarı enfeksiyonu aşıları ve cinsel yolla bulaşabilecek hastalıklara karşı koruyucu aşılar temel olmayan aşı sınıflandırmasında yer alırlar. Bu aşıların uygulanabilmesi için veteriner hekimlerin kapsamlı muayenelerine ve tetkiklerine ihtiyaç duyulur.</p>
          <h2 style="padding: 5px; border-radius: 5px; background-color: rgb(244, 247, 76); background-image: linear-gradient(62deg, rgb(235, 245, 149) 0%, rgb(224, 195, 252) 100%);"><span style="font-size: 16px;"><span style="font-family: verdana, geneva, sans-serif; letter-spacing: 1px;"><span style="color: rgb(0, 0, 0);"><strong>Yavru kedi aşı takvimi ve uygulama zamanları şu şekilde sıralanabilir: </strong></span></span></span></h2>
          <ol>
            <li>İç ve Dış Parazit İlaçları: 6-8 hafta</li>
            <li>Karma Aşı: 8-10 hafta</li>
            <li>Lösemi Aşısı: 9-11 hafta</li>
            <li>Karma Aşı tekrarı: 10-12 hafta</li>
            <li>Lösemi Aşı tekrarı: 11-13 hafta</li>
            <li>Kuduz Aşısı: 12-14 hafta</li>
          </ol>
          <p>Kedilerin aşı takvimi ilk olarak iç ve dış parazit ilaçları ile başlar. Bağışıklık sisteminin gelişmeye devam ettiği bu dönemde kedilerin iç parazitlere yatkın oldukları bilinmektedir. Özellikle ishale yol açabilen Protozoa ile kusma, dışkıda kan, halsizlik ve kilo kaybı gibi belirtilerle etkisini gösteren bağırsak kurtları yavruların sağlığını olumsuz yönde etkileyebilir. Bu iç parazitlere ek olarak dış parazitlere karşı da korunma sağlanması için parazit ilaçlarının belli aralıklarla uygulanması gerekir.</p>
          <p>Yavru kedi aşı takvimi kapsamında en önemli aşıların başında karma aşı gelmektedir. 2. ayını dolduran tüm yavru kedilere uygulanması gereken karma aşı kedilerde sık görülen viral enfeksiyonlara karşı koruma sağlar. Feline Parvos, Herpes Virüs ve Felin Calici gibi virüs etkenleri içeren karma aşı 8-10 haftalık dönemde uygulanır ve yaklaşık 2 hafta sonra tekrarlanır.</p>
          <p>Yavru kedi aşılama takviminin bir diğer aşısı lösemi aşısıdır. Lösemi aşısının kedilerde her yıl tekrarlanması önerilir. Lösemi virüsüne karşı koruma sağlamak amacıyla uygulanan bu aşının %100 koruculuğunun olmadığı bilinmektedir. feLV virüsü nedeniyle bulaşan bir hastalıkla enfekte olan kedilerde üreme sorunları, kanserler ve enfeksiyonlar ortaya çıkabilir. Lösemi aşısının yavru kedi 11-13 haftalıkken tekrarlanması gerekecektir.</p>
          <span style="color:#ff0000;"><span style="font-size:16px;"><span style="font-family:verdana,geneva,sans-serif;">Yavru kedilere zorunlu aşılar arasında kuduz aşısı da bulunmaktadır. Kuduz aşısının uygulanabilmesi için kedilerin 3 aylarını doldurmaları beklenir. Kuduz hastalığının bulaşma mekanizması kuduz hastalığı olan bir canlı tarafından ısırılmak ya da tırmalanmak olduğu için bu aşının evde yaşayan kedilere uygulanıp uygulanmayacağı hakkında çeşitli soru işaretleri bulunmaktadır. Ancak 3285 sayılı Hayvan Sağlığı ve Zabıtası Kanunu Uygulama Yönetmeliği kapsamında kedilere kuduz aşısı uygulanması yasal bir zorunluluktur. </span></span></span></p>
          <h2 style="padding: 5px; border-radius: 5px; background-color: rgb(244, 247, 76); background-image: linear-gradient(62deg, rgb(235, 245, 149) 0%, rgb(224, 195, 252) 100%);"><span style="font-size: 16px;"><span style="font-family: verdana, geneva, sans-serif; letter-spacing: 1px;"><span style="color: rgb(0, 0, 0);"><strong>Yetişkin Kedilerin Aşı Takvimi </strong></span></span></span></h2>
          <li><img src="img/yetişkin.aşı.png" style="height: 350px;"></li>
          <ol>
            <span style="color:#000000;"><span style="font-size:16px;"><span style="font-family:verdana,geneva,sans-serif;"> Yavru kediler 1 yaşlarını tamamladıkları zaman diliminde yetişkin olarak kabul edilirler. Yetişkinlik dönemlerinde de kedilerin düzenli olarak aşılanmaları gerekir. Yetişkinlik döneminin ilk senesinde yavruluk döneminde yapılan temel aşıların tekrarlanması önerilmektedir. İlerleyen zamanlarda ise aşı sıklığı 1-3 yıllık periyotlar şeklinde planlanır. </span></span></span></p>
            <p>Kedilerin aşıları ve kedilerin aşı sıklıkları belirlenirken veteriner hekimlere danışılması gerekir. Temel aşılar bir zorunluluk olarak yapılsa da temel olmayan aşılara da gerek duyulabilir. Bu noktada da kedilerin yaşam koşulları, genel sağlık durumları ve riskli oldukları hastalıklar özelinde detaylı planlanma yapılması gerekmektedir. Düzenli kontroller sırasında veteriner hekimler kedi aşı takvimi ile ilgili gerekli gördükleri değişiklikleri yapabilirler.</p>
          </ol>
          <h2 style="padding: 5px; border-radius: 5px; background-color: rgb(244, 247, 76); background-image: linear-gradient(62deg, rgb(235, 245, 149) 0%, rgb(224, 195, 252) 100%);"><span style="font-size: 16px;"><span style="font-family: verdana, geneva, sans-serif; letter-spacing: 1px;"><span style="color: rgb(0, 0, 0);"><strong>Kedilerin Aşılama Döneminde Dikkat Edilmesi Gerekenler </strong></span></span></span></h2>
          <span style="color:#000000;"><span style="font-size:16px;"><span style="font-family:verdana,geneva,sans-serif;"> Kedilerin aşılama döneminde dikkat edilmesi gereken birçok faktör bulunur. Aşıların spesifik nitelikleri doğrultusunda belli dönemlerde yapılması gerektiği bilinmektedir. Örneğin kuduz aşısı yapılabilmesi için yavru kedilerin ilk 3 aylarını tamamlamış olması gerekir. Bu nedenle kedi aşı takvimi belirlendiğinde zamanlamaya özen gösterilmelidir. </span></span></span></p>
          <span style="color:#000000;"><span style="font-size:16px;"><span style="font-family:verdana,geneva,sans-serif;"> Farklı aşıların aynı enjektöre çekilip uygulanmaması gerekir. Aşıların prospektüslerinde farklı bir aşı ile birleştirilip birleştirilemeyeceklerine dair bilgi bulunacaktır. </span></span></span></p>
          <span style="color:#000000;"><span style="font-size:16px;"><span style="font-family:verdana,geneva,sans-serif;"> Hamilelik dönemindeki kedilere aşılama yapılmaz. Hamile kedilere aşı yapılabilmesi için aşı prospektüsünde özel olarak belirtilmiş olması gerekir. Kedilerde gebelik planlaması yapıldıktan sonra tüm gerekli aşılamaların tamamlanması önemlidir. Fakat bu durumun istisnaları da vardır. Kediler daha önce hiç aşılanmadılarsa ve kontaminasyon riski yüksek yerlerde yaşıyorlarsa veteriner hekimlerin onayı ile aşılama yapılabilir. </span></span></span></p>
          <h2 style="padding: 5px; border-radius: 5px; background-color: rgb(244, 247, 76); background-image: linear-gradient(62deg, rgb(235, 245, 149) 0%, rgb(224, 195, 252) 100%);"><span style="font-size: 16px;"><span style="font-family: verdana, geneva, sans-serif; letter-spacing: 1px;"><span style="color: rgb(0, 0, 0);"><strong>Kedilerde Aşılama Riskli Midir? </strong></span></span></span></h2>
          <span style="color:#000000;"><span style="font-size:16px;"><span style="font-family:verdana,geneva,sans-serif;"> Aşılama ile ilgili belirli riskler olsa da bu riskler nadiren görülür. Aşıya gösterilen reaksiyonlar ve aşı sonrası görülen yan etkiler oldukça minimaldir ve çoğunlukla kendiliğinden geçme eğilimindedir. Bu yan etkiler arasında enjeksiyon bölgesinde şişlik ve ağrı, hafif ateş veya halsizlik bulunur. Şiddetli alerjik reaksiyonların görülme ihtimali oldukça az olmakla birlikte böyle bir sorun yaşanırsa tedaviye geçilmelidir. Yavru kedilerde cilt sorunları, yüz bölgesinde şişlik veya nefes darlığı gibi şikayetler ortaya çıkarsa veteriner hekimlere danışılmalıdır. </span></span></span></p>
          <span style="color:#000000;"><span style="font-size:16px;"><span style="font-family:verdana,geneva,sans-serif;"> Aşılama karşıtı bir kesim olsa da birçok veteriner hekim özellikle yavruluk döneminde aşıların potansiyel risklerinden ziyade faydalarına odaklanması gerektiği konusunda hem fikirdir. Yavruların bağışıklık sistemlerinin zayıf olduğu bu süreçte hayatlarını riske sokabilecek hastalıklara karşı aşılanmaları, daha sağlıklı bir yaşam sürebilmelerinde kritik bir öneme sahiptir. </span></span></span></p>


          <p>&nbsp;</p>
        </text-center>
        <p>&nbsp;</p>
      </div>
    </div>
  </div>
</div>