<div class="row" style="padding: 100px;">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <center>
        <tect-center>
          <img src="public/img/mail.logo.jpg" style="height: 55px;">
          <h1> fipfighters@gmail.com </h1>
          <img src="public/img/insta.jpg" style="height: 66px;">
          <h1> fipfighthers</h1>
          <img src="public/img/wp.logo.jpg" style="height: 55px;">
          <h1>222 444 22 55</h1>
        </text-center>
        <p>&nbsp;</p>
      </center>
        <p>&nbsp;</p>
      </div>
    </div>
  </div>
</div>