<div class="row" style="padding: 50px;">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h1>Kedilerde F.İ.P. (Feline Infectious Peritonitis) Hastalığı Nedir?</h1>
        <img src="public/img/fip.png">
        <p>Halk arasında F.İ.P. olarak bilinen Feline Infectious Peritonitis Kedi Enfeksiyoz Peritoniti olarak da bilinen bu viral hastalık, koronavirüs kaynaklı bir dizi <strong>ölümcül</strong> komplikasyona sebep olmaktadır. Koronavirüs dememiz sizi endişelendirmesin: Bu virüsün birden fazla çeşidi mevcut ve FIP hastalığı, hayvandan insana geçmeyen spesifik bir çeşidi dolayısıyla oluşuyor.</p>
        <p>FİPFİGHTERS Topluluğu olarak bizler, bu içerikte uzmanlarımızdan aldığımız bilgi ile sizleri FIP hastalığı konusunda aydınlatmayı amaçlıyoruz. İçeriğin devamında FIP hastalığı belirtileri, hastalığın potansiyel sebepleri ve tedavi süreçleri ile alakalı detaylı bilgi veriyor olacağız.</p>
        <p>Hazırsanız hemen başlayalım!</p>

        <img src="public/img/maskcat.jpg" alt="" style="height: 200px;" class="soften">

        <h3>Kedilerde FİP Hastalığı Nedir?</h3>

        <p>Kedilerde FİP hastalığı, tüm evcil kedilerde görülebilen ve ciddi sonuçları olabilen bir sağlık problemidir. Genellikle 2 yaşın altındaki yavru kedilerde görülen ve sonu ölümle sonuçlanabilen virüs, genellikle kontrol altına alınması oldukça zor olan yüksek ateş, progranülomatoz doku reaksiyonu, vücutta sıvı birikimi, kilo kaybı, halsizlik, durgunluk, yorgunluk hali, görme yetisinde gerileme ve çeşitli problemler olarak kendini gösterir.</p>
        <p><strong>Asıl etken korona virüs korona virüsün vücutta semptom oluşturacak çoğunluğa oluşması ve peritonda yangı buna bağlı sıvı birikmesi ile fip oluşur.O yüzden fip genelde stres gibi bağışıklığı baskılayan durumlardan sonra ortaya çıkar yani bağışıklık düştüğü zaman kanda bulunan korona virüsler istediği çoğonluğa rahatlıkla ulaşır ve semtom göstermeye başlar.​</strong></p>

        <h3>Efuziv FIP hastalığı ya da FIP Hastalığı</h3>
        <p>Kedilerde efusiv FIP hastalığı, kedi sahibi ve veterinerlerin en çok korktuğu formlardan biridir. Bu tip bir virüs gelişiminde hastalık ölümcül bir hal alır ve alyuvarlar aracılığı ile bağışıklık sistemini neredeyse tamamen çökertir. Kan damarlarında oluşan dezenformasyon genel olarak karın bölgesinde sıvı birikimi ile kendini gösterir. Ayrıca, kedinin yaşamsal dokularında da sıvı birikimi gerçekleşir ve tüm bu birikim iç organlarda baskı yaratır.</p>
        <p>Islak fip periton da yangı oluşturup çoklu iç organ yetmezliğine neden olur ve karında sıvı birikmesine neden olur</p>
        <h3><span style="color:#B22222;"><strong>Non-Efuziv FIP Hastalığı ya da FIP Hastalığı</strong></span></h3>

        <p>Kuru form FIP vir&uuml;s&uuml; olarak da sıklıkla duyabileceğiniz non-efuziv vir&uuml;s, bir &ouml;nceki versiyon ile kıyaslandığında daha konforlu şekilde atlatılabilecek bir sağlık problemidir. Genellikle kedinizde t&uuml;y renginde değişim, iştahsızlık, kilo kaybı, ishal gibi semptomları fark ettiğinizde non-efuziv FIP&rsquo;ten ş&uuml;phelenebilirsiniz. Hastalığın bu tipte belirtilerin gelişimi daha yavaş olmakta ve v&uuml;cutta i&ccedil; organlar &ccedil;evresindeki sıvı birikimi daha d&uuml;ş&uuml;k d&uuml;zeyde olmaktadır. Bu durum hastalığın fark edilmesinin &ouml;n&uuml;ne ge&ccedil;ebilir.</p>

        <p>Korona vir&uuml;s beyinde lezyon oluşturarak yani sıvı birikintisi (tam teşhis beyin MR ı ile konur) oluşturarak n&ouml;rolojik semtomlara neden olur bu formun diğer ismide n&ouml;rolojik fip&#39;tir</p>

        <p>Tanı zor konulsa da evcil dostunuzun yaşam konforunu olduk&ccedil;a d&uuml;ş&uuml;rebilecek olan bu hastalığın kontrol altına alınabilmesi olduk&ccedil;a &ouml;nemlidir. Bu y&uuml;zden d&uuml;zenli veteriner kontrol&uuml;n&uuml; tavsiye ediyoruz.</p>

        <h3><span style="color: rgb(178, 34, 34);"><strong>Akciğer Formu</strong></span></h3>

        <p>Medikal tedavi ile toplar ama bağışıklığı d&uuml;şt&uuml;k&ccedil;e tekrarlayan bir problem olur.Sindirim formu var genelde kalın bağırsakta yangı oluşturarak belli d&ouml;nemler de sindirim sistemi problemlerine beden olur.( ishal kabızlık kanlı kaka en &ccedil;ok g&ouml;r&uuml;len semptomlar) Bu formda medikal tedavi ile toparlaması b&uuml;y&uuml;k ihtimaldir.</p>

        <h2><span style="color:#0000CD;">Kedilerde FIP Hastalığının Belirtileri Nelerdir?</span></h2>

        <p>Solunum, sindirim ve boşaltım organları &uuml;zerinde olumsuz etki g&ouml;sterme g&uuml;c&uuml;ne sahip olan FIP hastalığı, genellikle dışkı yolu ile yayılan ve evcil kedi pop&uuml;lasyonunun neredeyse yarısının deneyimlediği bir sağlık problemidir.</p>

        <p>Yapılan araştırmalara g&ouml;re kedilerde Coronavir&uuml;s&uuml;n y&uuml;zde 2 ile 10&rsquo;u ilerleyerek FIP hastalığına d&ouml;n&uuml;şebiliyor. D&ouml;n&uuml;şmeyenler ise daha d&uuml;ş&uuml;k zararlı ishal, halsizlik gibi belirtilerle ge&ccedil;ici sağlık problemleri olarak kendini g&ouml;steriyor. Kediniz FIP hastalığı kapmış olmasa bile, daha d&uuml;ş&uuml;k d&uuml;zeyli belirtiler g&ouml;steriyorsa, Coronavir&uuml;s&rsquo;&uuml; atlatmak i&ccedil;in takviyeye ihtiya&ccedil; duyuyor olabilir.</p>

        <p>İşte FIP hastalığının en sık karşılaşılan belirtilerinden bazıları:</p>

        <ol>
          <li>Kronik zayıflama (Sırt b&ouml;lgesi zatıflar ve omurlar &ccedil;ok belirginleşir ama karın b&ouml;lgesi sanki ıfaklık kilo alıyormuş gibi şişer.)</li>
          <li>Kedinin enerjisinde ya da psikolojik durumunda negatif gelişme (mutsuzluk, halsizlik ya da memnuniyetsizlik ifadesi)</li>
          <li>Y&uuml;ksek ateş</li>
          <li>G&ouml;rme yetisinde gerileme, g&ouml;z sulanması problemleri ya da g&ouml;zde renk değişimi</li>
          <li>Solunum g&uuml;&ccedil;l&uuml;ğ&uuml;, nesle, burun tıkanıklığı</li>
          <li>G&ouml;rme yetisinin de gerilemesine bağlı olarak denge ve y&uuml;r&uuml;me sorunları</li>
          <li>Karın ve kalp b&ouml;lgelerinde su birikmesine bağlı olarak şişkinlik</li>
          <li>Halsizlik hali</li>
        </ol>

        <p><strong><em>Yukarıdakilerden biri ya da birka&ccedil;ını deneyimleyen patili dostunuzu g&uuml;venle G&uuml;ltepe Veteriner Kliniği&rsquo;ne getirebilirsiniz. Yedi g&uuml;n yirmi d&ouml;rt saat dostlarımız i&ccedil;in uyanığız ve hizmetimizi s&uuml;rd&uuml;r&uuml;yoruz. Hem d&uuml;zenli kontrol, aşı ve bakım işlemleri, hem de hastalık tedavileri i&ccedil;in uzman veterinerlerimiz ve sevgimiz ile steril muayenehanelerimizde sizleri bekliyoruz!</em></strong></p>

        <h2><span style="color:#0000CD;">FIP Hastalığı Kedilerde Nasıl Tedavi Edilir? FIP Hastalığı Tedavisi Var Mı?</span></h2>

        <p>Bağışıklık sistemine etki eden diğer pek &ccedil;ok hastalık gibi, FIP hastalığında da tedavi s&uuml;reci iki farklı yolla y&uuml;r&uuml;t&uuml;lebiliyor: Vir&uuml;s&uuml; doğrudan &ouml;ld&uuml;rmeye y&ouml;nelik olan tedaviler ya da bağışıklık sistemini g&uuml;&ccedil;lendirme yolu ile vir&uuml;se karşı savaşın desteklendiği tedaviler.</p>

        <ul>
          <li>Genellikle antiviral ila&ccedil;lar ve anti-inflamatuar ila&ccedil;lar tedavi s&uuml;recinde kedilere uygulanabilmektedir. &Ouml;zellikle antiviral ila&ccedil;lar, bağışıklık siteminin vir&uuml;slere karşı daha etkili ve aktif savaşmasını sağlayabilen bir dizi materyal i&ccedil;erirler. Dr. Al Legendre tarafından yapılan bir ila&ccedil; geliştirme &ccedil;alışmasında, Deneysel bir poliprenil imm&uuml;nostim&uuml;lan materyalinin kullanıldığı ila&ccedil;, toplamda 200 kediye uygulandı. Sonu&ccedil;lar ise ş&ouml;yleydi:</li>
        </ul>

        <p><strong><em>Bu ilacın uygulandığı 60 kedinin 52&rsquo;si, ki bu toplam kedi sayısının y&uuml;zde 87&rsquo;sine denk geliyor, hayatlarına devam edebildiler.Y&uuml;zde seksenden daha fazla başarı sağlayan poliprenil ila&ccedil; G&uuml;ltepe Veteriner Kliniğinde Fip Hastalığına sahip kedilere de uygulanmakta.</em></strong></p>

        <p>Şunu da not edelim: Kedilerde FIT hastalığının kanıtlanmış kesin bir tedavisi bulunmamaktadır. Veteriner doktorlar genel olarak bu hastalığa yakalanan kedilerin yaşam kalitelerini y&uuml;kseltme ama&ccedil;lı ila&ccedil; ve takviye desteği tavsiye edebilmektedir. Bu takviyeler genellikle sıvı tedavileri, vitem k&uuml;rleri, &ccedil;eşitli antibiyotiklerden oluşmaktadır.</p>

        <h2><span style="color:#0000CD;">FIP Hastalığı Teşhisi Nasıl Ger&ccedil;ekleştirilir?</span></h2>

        <h2><span style="color:#0000CD;">Kedimi FIP Hastalığından Nasıl Korurum? FIP Hastalığı Nasıl &Ouml;nlenir?</span></h2>

        <p>FIP hastalığı genellikle dışkı ya da salya aracılığı ile bulaşmaktadır. Dolayısıyla kedinizin karşılaştığı bir başka kedi, ya da eğer bah&ccedil;e ortamında / dışarıda bakıyorsanız rastladığı herhangi bir madde ona FIP hastalığı bulaşmasına sebep olabilir.</p>

        <ol>
          <li>Riski en aza indirmek i&ccedil;in kedinize temiz ve hijyenik bir ortam sunduğunuzdan emin olun.</li>
          <li>Kedinizi sizin kontrol&uuml;n&uuml;z dışında dışarıda serbest bırakmayın ve hijyenik olmadığını d&uuml;ş&uuml;nd&uuml;ğ&uuml;n&uuml;z yerlerde dolaştırmayın.</li>
          <li>Ortak mama kapları, su kapları gibi sokak kedileri i&ccedil;in yerleştirilen belediye gere&ccedil;lerinden kedinizin beslenmesine izin vermeyin.</li>
          <li>Başka bir kedi ile ortak kedi kumu paylaşımına izin vermeyin.</li>
          <li>D&ouml;rt kediden daha fazlasının bir grup halinde zaman ge&ccedil;irmemesi, riskin minimize edilmesi bakımından etkili olacaktır. &Ouml;zellikle aynı ev i&ccedil;erisinde d&ouml;rtten fazla kedi beklemek, FIP hastalığı gibi bulaşıcı hastalıkların riskini arttırabilmektedir.</li>
        </ol>

        <p><strong><em>Bunu biliyor muydunuz? Tek bir kedinin yaşadığı evlerde Feline Coronavir&uuml;s hastalığı riski y&uuml;zde 50 iken, birden fazla kedili evlerde bu oran y&uuml;zde 80, hatta 90 civarına &ccedil;ıkabiliyor. Feline Koronavir&uuml;s, benzer yapıya sahip olan FIP hastalığından daha sık g&ouml;r&uuml;l&uuml;yor. Coronavir&uuml;sten etkilenen kediler &uuml;zerinde yapılan bir araştırma, t&uuml;m enfekte kedilerin yalnızca birinde FIP Hastalığı oluşumu g&ouml;zlendiğini ortaya koydu. Fakat FIP hastalığı i&ccedil;in de &ccedil;oklu kedi bulunan evlerde oran y&uuml;kseliyor.</em></strong></p>

        <h3><strong><span style="color:#B22222;">Felike Koronavir&uuml;s ve FIP Hastalığı Arasındaki Fark Nedir?</span></strong></h3>

        <p>Felike koronavir&uuml;s, Coronavir&uuml;s ailesinde değerlendirilen vir&uuml;s dolayısı ile ortaya &ccedil;ıkan bir mutasyondur ve g&ouml;r&uuml;lme riski FIP hastalığından &ccedil;ok daha y&uuml;ksektir.</p>

        <h3><strong><span style="color:#B22222;">Hangi kedilerin FIP hastalığına yakalanma ihtimali daha y&uuml;ksek?</span></strong></h3>

        <ul>
          <li>Kedi ırkları arasında &ccedil;ok y&uuml;ksek yatkınlık farklarından s&ouml;z etmek m&uuml;mk&uuml;n değil. Yine de yapılan &ccedil;alışmalarda Scotish fold, Habeş, Birman, Himalayan, Devon rex, Ragdoll t&uuml;rlerinin diğerleri ile kıyaslandığında FIP geliştirme ihtimallerinin daha fazla olabileceği ortaya kondu.</li>
          <li>Ayrıca, erkek kedilerde FIP hastalığı g&ouml;r&uuml;lme oranı, dişi kedilerde g&ouml;r&uuml;lme oranından daha y&uuml;ksek.</li>
        </ul>

        <h3><span style="color:#B22222;"><strong>Kedime FIP aşısı yaptırabilir miyim?</strong></span></h3>

        <p>G&uuml;n&uuml;m&uuml;zde hayvan sağlığı sekt&ouml;r&uuml;n&uuml;n hızlı bir şekilde gelişmesi FIP hastalığı i&ccedil;in de &ccedil;eşitli aşı geliştirme &ccedil;alışmalarının ger&ccedil;ekleşmesine sebep oldu. Fakat hen&uuml;z d&uuml;nya &ccedil;apında ge&ccedil;erlilik g&uuml;venilirlik testlerini tam anlamıyla ge&ccedil;en ve kabul g&ouml;ren bir kediler i&ccedil;in FIP aşısı bulunmamaktadır.</p>

        <h3><span style="color:#B22222;"><strong>FIP hastalığı kedilerden insanlara bulaşır mı?</strong></span></h3>

        <p>FIP hastalığı kedilerden insanlara bulaşmaz fakat kediden kediye bulaşabilir. Bu y&uuml;zden riski minimize etmek adına FIP hastalığı ge&ccedil;iren bir kedinin bulunduğu eve takip eden bir ay boyunca sağlıklı kedi getirilmemesi şiddetle tavsiye edilmektedir.</p>

        <p>&nbsp;</p>

        <p>&nbsp;</p>
      </div>
    </div>
  </div>
</div>
</div>