<div class="row" style="padding: 50px">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <form action="/login" method="post">
          <center>

            <table>
              <div class="outer-box">
                <div class="login-box">
                  <div class="ortala">
                    <img src="public/img/draw.cat.png" style="height: 55px" />
                    <h4 class="login-text">Giriş</h4>



                    <input name="nick" placeholder="kullanıcı adı" />
                    <input name="sifre" type="password" placeholder="Şifre" />

                    <button id="btn-login">
                      <img src="public/img/pati.jpg" style="height: 20px" /> Giriş Yap
                    </button>

                    <div class="nav-item">
                      <p>Üye değil iseniz lütfen kayıt olun</p>
                      <a class="redirectButton" href="/register">
                        <img src="public/img/pati.jpg" style="height: 20px" /> Kayıt
                        ol</a>
                    </div>
                  </div>
                </div>
              </div>
            </table>
          </center>

        </form>

        <p>&nbsp;</p>

        <p>&nbsp;</p>
      </div>
    </div>
  </div>
</div>