    <div class="row" style="padding: 50px;">
      <div class="col-12">
        <div class="card">
          <div class="card-body">


<center>
            <form action="/register" method="post">
              <text-center>
                <img src="public/img/draw.cat.png" style="height: 55px;">
                <h2>FİPFİGHTERS KAYIT FORMU</h2>
                <table>
                  <tr>
                    <td>
                      <input type="text" name="ad" size="25" placeholder="Ad *" required />
                    </td>
                    <td>
                      <input type="text" name="soyad" size="25" placeholder="Soyad *" required />
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2">
                      <input type="email" name="email" style="width:100%" placeholder="E-Posta Adresi *" required />
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2">
                      <input type="password" name="sifre" style="width:100%" placeholder="şifre**" required />
                    </td>
                  </tr>

                  <tr>
                    <td colspan="2">
                      <input type="text" name="nick" style="width:100%" placeholder="Kullanıcı Adı" required />
                    </td>
                  </tr>
                  <tr>
                  </tr>
                  <tr>
                    <td colspan="2">
                      <input name="onay" type="checkbox" id="" /> Üyelik Sözleşmesi şartlarını okudum ve kabul ediyorum.
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2">
                      <div>
                        <input type="submit" value="KAYIT OL" id="" />
                      </div>
                    </td>
                </table>
                </tr>
                </table>
            </form>
            </text-center>
          </center>




            <p>&nbsp;</p>

            <p>&nbsp;</p>
          </div>
        </div>
      </div>
    </div>